.link {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  color: inherit;
  /* color: rgba(0, 0, 0, 0.87); */
}

.link:hover,
.link:focus {
  color: rgb(25, 118, 210);
}

.link:not(:last-child) {
  margin-right: 15px;
}

.link.active {
  color: #e84a5f;
}
