p {
  margin: 0;
}

.contacts__list {
  display: grid;
  gap: 8px;
  list-style: none;
  background-color: #fff;
  margin: 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 3px 3px hsl(0deg 0% 68% / 60%);
}
